
body{
  background-color: #222;
  display:flex;
  justify-content:center;

}

h1{
  color:#ddd;
  font-size: 25px;
  width: 200px;
  background-color: #228;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 0px;
  margin-top: calc(50vh - 125px);
}

.btn{
  position:absolute;
  width: 20px;
  height: 20px;
  text-align: center;  
  vertical-align: middle;
  background-color: #ddd;
}

.hidden{
  background: linear-gradient(135deg,#aaa,#888)
}

.marked{
  box-shadow: inset #f22 0 0px 0 5px;
}

.win-lose{
  font-size: 15vw;
  position:absolute;
  top:10vh;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 1000;
  left:50%;
  transform: translate(-50%);
  color:#ddd;
}